#main {
  border-style: dashed;
  border-spacing: 10px;
  border-width: 2px;
  padding: 25px;
}
d {
  font-size: 300%;
  font-style: times;
}
f {
  font-family: optima;
  font-size: 100%;

}
e {
  font-size: 125%;
}
