#main{
  border-style: dashed;
  border-spacing: 10px;
  border-width: 4px;
  padding: 25px;
}

who{
  font-size: 280%;
  font-family:apple chancery
}

e{
  font-size:170%;
  font-family:optima;
  text-align: justify;
}
