<!DOCTYPE html>
<html>
  <head>
    <title>Create play</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/plays">play List</a></h3>
      <h1>Create New play</h1>
      <form action="/plays/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Director</td>
              <td><textarea name="director"></textarea></td>
            </tr
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
