<!DOCTYPE html>
<html>
  <head>
    <title>Create play</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/plays">play List</a></h3>
      <h1>Create New play</h1>
      <form action="/plays/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Qty</td>
              <td><input type="text" name="qty" /></td>
            </tr>
            <h2>Title Page</h2>
            <tr>
              <td>Chair</td>
              <td><input type="text" name="chair" /></td>
            </tr>
            <tr>
              <td>Artistic Director</td>
              <td><input type="text" name="artistic_director" /></td>
            </tr>
            <tr>
              <td>Title</td>
              <td><input type="text" name="title" /></td>
            </tr>
            <tr>
              <td>Playwright</td>
              <td><input type="text" name="playwright" /></td>
            </tr>
            <tr>
              <td>Director</td>
              <td><input type="text" name="director" /></td>
            </tr>
            <tr>
              <td>Scenic Designer</td>
              <td><input type="text" name="scenic_designer" /></td>
            </tr>
            <tr>
              <td>Costume Designer</td>
              <td><input type="text" name="costume_designer" /></td>
            </tr>
            <tr>
              <td>Lighting Designer</td>
              <td><input type="text" name="lighting_designer" /></td>
            </tr>
            <tr>
              <td>Sound Designer</td>
              <td><input type="text" name="sound_designer" /></td>
            </tr>
            <tr>
              <td>Music Designer</td>
              <td><input type="text" name="music_designer" /></td>
            </tr>
            <tr>
              <td>Stage Manager</td>
              <td><input type="text" name="stage_manager" /></td>
            </tr>
            <tr>
              <td>Publisher</td>
              <td><input type="text" name="publisher" /></td>
            </tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
