<!DOCTYPE html>
<html>
  <head>
    <title>Edit play</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/plays">play List</a></h3>
      <h1>Edit play</h1>
      <form action="/plays/update/<%= play._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" value="<%= play.name %>" /></td>
            </tr>
            <tr>
              <td>Director</td>
              <td><textarea name="director"><%= play.director %></textarea></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Update</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
