<!DOCTYPE html>
<html>
  <head>
    <title>play List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/plays/create">Create play</a></h3>
      <h1>play List</h1>
      <% if(plays.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>play Name</th>
            <th>Director</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<plays.length;i++) { %>
            <tr>
              <td><a href="/plays/show/<%= plays[i]._id%>"><%= plays[i].name%></a></td>
              <td><%= plays[i].director%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No plays found.</div>
      <% } %>
    </div>
  </body>
</html>
