.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

.friendsof{
  font-size:300%;
  font-family:optima;
}

.september{
  font-size:150%;
  font-family:optima;
}

a{
  font-size:130%;
  font-family:optima;
}


ind{
  text-indent:50px;
}

comment{
  font-size:150%;
  font-family:optima;
}


  .column{
    float: left;
    width: 650;
  }

  .row:after{
    content: "";
    display:table;
    clear: both;
  }


  p.times{
    font-family: "Times New Roman", Times, serif;
  }
.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 3/7;
  grid-row: 1;

}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.two {
  grid-column: 2/8;
  grid-row: 2;
}

.three {
  grid-column: 2/8;
  grid-row: 12;
}

.four{
  grid-column: 2/8;
  grid-row: 14;
}


p.double{
  border-style: double;
  border-spacing: 25px;
  border-width: 10px;
  padding: 35px;
}
