#main{
  border-style: dashed;
  border-spacing: 10px;
  border-width: 4px;
  padding: 25px;
}

t{
  font-size:300%;
  font-family:optima;
}

d{
  font-size:170%;
  font-family:optima;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

c{
  font-size:70%;
  font-family:optima;
}

e{
  font-size:150%;
  font-family:optima;
  text-align: justify;
}

who{
  font-size: 280%;
  font-family:apple chancery
}
p{
  font-size:150%;
  font-family:optima;
}
p.double{
  border-style: double;
  border-spacing: 10px;
  border-width: 10px;
  padding: 30px;
}
