doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') EZ Plays
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/festival/titleSenior') Home
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | Plays
                span.caret
              ul.dropdown-menu
                li
                  a(href='/festival/Pearls') From Pearls to Hoops
                li
                  a(href='/festival/queeringTheCape') Queering the Cape
                li
                  a(href='/festival/Shakespeare') Shakespeare Girlz
                li
                  a(href='/festival/lucid') Lucid
                li
                  a(href='/festival/bloodAndWater') Blood and Water
            li
              a(href='/festival/festivalschedule') Schedule
            li
              a(href='/festival/festival-staff') Festival Staff
            li
              a(href='/festival/psSenior2') Production Staff
            li
              a(href='/festival/friendsSenior') Friends
            li
              a(href='/festival/about') About

head
  link(rel='stylesheet', href='/stylesheets/about.css')
  main#main
    .wrapper
      .one
        center
          heading
            | About Us
      .two
        center
          project
            | Our Project:
          br
          br
          description
            | EZ-Plays is a web application that was designed, built and curated by three Brandeis University Computer Science seniors.
            | EZ-Plays auto generates play programs that can be easily accessed to audiences while keeping the nostalgic feel of a physical programs.
            | The idea of this independent study project originated as an extentsion from Brandeis Theater Company's production of
            i  The Spaces Between Us
            |  in 2017.
            |         EZ-Plays aims to reduce paper waste in the theater and push for new sustainability tactics from the Brandeis University administration.
      .three
        br
        br
        center
          project
            | Contributors:
        br
        br
        fatima
          .row
            .column
              img(src='/images/Fatima.jpg', alt='Fatima Hussaini', width='250', height='300')
            .column
              person
                name
                  | Fatima Hussaini
                br
                br
                b Class:
                |  2018
                br
                b Majors:
                |  Computer Science, Math
                br
                br
                | Fatima is a graduating senior who is passionate about computer science, specifically web development. As a summer project, Fatima along with Demi Zhang and Gerriana Cohen, created a hands-free recipe application that allowed users to find recipes based on a variety of filters. She also worked as a data analyst intern at Boston Children's Hospital where she was responsible for implementing a diffusion tensor algorithm to analyze functional MRI data.
                | This project has allowed her to apply both her creativity and technical skills while also expanding her knowledge about web development technologies and techniques.
                | It has been a pleasure working on this application with Professor Hickey, Demi, and Joelle and she wants to thank all of them for working on this project with her and being an amazing support system.
        joelle
          .row
            .column
              img(src='/images/Joelle.jpg', alt='Joelle Robinson', width='250', height='300')
            .column
              person
                name
                  | Joelle Robinson
                br
                br
                b Class:
                |  2018
                br
                b Majors:
                |  Computer Science
                br
                b Minors:
                |  Theater Arts, East Asian Studies
                br
                br
                | Joelle loves combining her muliple passions together and this project allowed her to do just that. Joelle has been acting since she was in middle school and later she learned how to code. Since then, she has been utilizing her technical skills to address important problems in our society. She has created a
                | 3D game to protest for women's reproductive health rights, a web app to promote sustainable living and more! Joelle thanks
                | Alicia Hyland for sharing her amazing idea and Adrianne Krstansky for her mentorship in theater! She also thanks Professor Hickey for his guidance and care. S/O to her COSI Struggle Bus Squad!
        demi
          .row
            .column
              img(src='/images/Demi.jpg', alt='Demi Zhang', width='250', height='300')
            .column
              person
                name
                  | Demi Zhang
                br
                br
                b Class:
                |  2018
                br
                b Majors:
                |  Computer Science, East Asian Studies
                br
                br
                |           Demi is honored to have the opportunity to work on this project with the Brandeis Theater Arts Department.
                |           She has always been really passionate about developing useful technology in a variety of different areas.
                |           In high school, she designed and developed the website for her high school's Guidance Department. During the summer of
                |           her sophomore year of college, she participated in JBS and created a voice-integrated cooking recipe application called
                |           "Chef's Assistant" with Gerriana Cohen and Fatima Hussaini. She wants to thank Professor Hickey and Alicia Hyland for
                |           giving her the opportunity to work on this project as well as Joelle Robinson and Fatima Hussaini for being her
                |           Computer Science buddies.
        .four
          br
          br
          description
            | Please let us know how we can improve this application by completing
            a(href='https://www.surveymonkey.com/r/N5XQ9XH')  this survey
