html
  head
    link(rel='stylesheet', href='/stylesheets/bio.css')
    .wrapper
      .one
        center
          p(style='font-size:300%; font-family:apple chancery')
            | Who’s Who in the Cast and Crew...
      .two.newspaper
        p(style='font-size:160%; font-family:optima')
          b
            | Haia Bchiri,
            i Emma, Hair and Makeup , ASL
          br
          |     Haia Bchiri is a sophomore majoring in Theater Arts and Education. She’s been involved in theatre for the past twelve years, most recently working with Black Box Studios in New Jersey in various capacities on and off stage. At Brandeis, she was in
          i Big Love, Taking Ages, Alice in Wonderland, Peter and Wendy, She Kills Monsters
          | , and more. This fall she is also working on
          i Woyzeck, Hamlet, A Midsummer Night’s Dream,
          |  and
          i Blithe Spirit
          | . Haia feels so blessed to be a part of this production and work with this amazing team. She hopes you enjoy the show!
          br
          b
            | Emily Bisno,
            i Sue
          br
          |     Emily is a junior from Los Angeles double majoring in Theater Arts and Anthropology. This is her first time acting with the Department of Theater Arts, having assistant directed
          i Leveling Up
          |  under Professor Robert Walsh this past spring. Emily has been seen in various plays and musicals through the Undergraduate Theater Collective in her time at Brandeis. She is very excited to be acting in the Department and hopes you enjoy the show!
          br
          b
            | Roopa Boodhun,
            i Christina
          br
          |     Roopa is a senior majoring in Business with minors in Theater Arts and Economics. She is a Wien Scholar from Mauritius Island. Her first time on stage was in “Dance On” as part of After Orlando. She also play eight roles in Wayward, an adaptation of Macbeth for the Leonard Bernstein Festival of the Arts. Ultimately, she hopes to start her own theater in Mauritius.
          br
          b
            | Sara Kenney,
            i Julia
          br
          |     Sara Kenney is a senior majoring in Theater Arts with a minor in Medieval & Renaissance Studies. Recent credits include
          i Taking Ages
          | , A Friend to All in
          i Shoes On, Shoes Off,
          |  Marley/Disciple in
          i The Contractual Death of Jonathan G. Faustus
          |  (Brandeis Department of Theater Arts),
          i Peter and Wendy
          |  (Leonard Bernstein Festival of the Creative Arts), Banquo in
          i Macbeth
          |  (Ovalhouse Theater), and Puck in
          i A Midsummer Night’s Dream
          |  (Brandeis Hold Thy Peace).She has also studied at the British American Drama Academy.
          br
          b
            | Rebecca Myers,
            i Fefu
          br
          |     Rebecca is a senior at Brandeis University. Some of her favorite performances include:
          i Blessing of a Broken Heart, Witches of Lublin, A Christmas Carol
          |  with San Diego Repertory Theatre;
          i Joseph and the Amazing Technicolor Dreamcoat
          |  with Broadway San Diego;
          i How the Grinch Stole Christmas, Twelfth Night
          |  with Old Globe Theatre; The Magic Fire (Best Ensemble Patté Award) with Moonlight AVO Playhouse;
          i Turandot, Wozzeck, Carmen, Boris Godunov, Tosca, Caballeria Rusticana/Pagliacci
          |  with San Diego Opera. Rebecca has also worked with San Diego Symphony, La Jolla Stage Company, 6th@Penn, Spreckles Organ Society, and San Diego Shakespeare Society.
          br
          b
            | Remony Perlman,
            i Paula
          br
          |     Remony is a junior majoring in Psychology and Theater and minoring in Creativity, the Arts and Social Transformation. Selected past Brandeis credits include, Hold Thy Peace’s
          i As You Like It
          |  (Duke Fredrick and Duke Senior), and the Undergraduate Theater Collective’s
          i Dog Sees God
          |  (Marcy) and
          i Twelve Angry Jurors
          |  (Juror 3). Remony has performed in various community theatre and local productions including the Waltham Steampunk Festival. She has been on the executive board of Brandeis’s Hold Thy Peace since her freshman year and is currently President and Secretary of the group.
          br
          b
            | Keturah Walker,
            i Cindy
          br
          |     Keturah Walker is a sophomore who desires to create her own major of Communications with a focus in TV and Radio and doubling that with Theater Arts. She has previously performed in several Brandeis plays such as
          i Death of the Last Black Man in the Entire World, Ruined, Love of the Nightingale
          |  and
          i The Vagina Monologues
          | .
          br
          b
            | YiQian (Alex) Wu,
            i Cecilia
          br
          |     YiQian (Alex) Wu is a sophomore at Brandeis University majoring in Theater Arts. She was most recently seen as Harvey Kelekian, M.D. in
          i Selections from “W;t”
          | , part of the 2016 Senior Festival.
          br
          b
            | Adrianne Krstansky,
            i Director
          br
          |     Boston area credits include
          i A Doll’s House, Come Back, Little Sheba
          |  directed by David Cromer (Huntington Theatre Company - Eliot Norton, IRNE Award);
          i Paradise Lost, Britannicus
          |  and
          i Ubu Rock
          |  (American Repertory Theater);
          i Tribes, Body Awareness
          | , and
          i Snakebit
          |  (SpeakEasy Stage Company);
          i
            | Blackberry Winter, Imagining Madoff, On the Verge, Holiday Memories, Three Viewings, 2.5 Minute Ride
          | (New Repertory Theatre);
          i New Electric Ballroom
          |  (Gloucester Stage); and
          i Gary and Legally Dead
          |  (Boston Playwrights’ Theatre). She has appeared regionally at the Steppenwolf Theater and La Jolla Playhouse. Feature film credits include: Burning Woman,
          i Olive Kitteridge
          |  (HB0) and
          i The Company Men
          | . Upcoming performances include:
          i Every Brilliant Thing
          |  at SpeakEasy Stage Company. She is an Associate Professor of Theater Arts at Brandeis University.
          br
          br
          b
            | Mary Hurd,
            i Costume Designer
          br
          |     Mary is excited to be designing at Brandeis for the first time. She has designed productions for several fringe companies in Boston including the Elliot Norton award winning production of
          i Spinning into Butter
          |  at the Theater Cooperative. In addition to design, Mary has worked as a cutter, first-hand, stitcher, alterations tailor, dresser, design assistant, assistant costume shop manager and costume shop manager for costume shops in Boston: Huntington Theater Company, Boston Ballet, American Repertory Theater, Costume Works, Boston Conservatory, and in New York: Barbara Matera’s and Tricorne. While at ART, Mary was the costume shop manager for the Cambridge run of The Glass Managerie, and helped take the production to Broadway as the Assistant Costume Designer.
          br
          b
            | Dewey Dellay,
            i Sound Designer
          br
          |     Dewey Dellay’s Off-Broadway credits include:
          i Duet
          |  (Greenwich Street Theatre) and London’s West End:
          i The Countess
          |  (Criterion). Dewey received an Elliot Norton award for Outstanding Design for his music and sound design on
          i The Women
          |  (Speakeasy Stage Company)
          i 9 Parts of Desire
          | , and
          i Miss Witherspoon
          |  (Lyric Stage Company), and an IRNE for best sound design of
          i Five by Tenn
          |  (SpeakEasy Stage Company). Dewey recently wrote music for Underground Railroad’s
          i Constellations
          | . Television credits include: compositions for numerous national commercials, numerous National Geographic shows including Emmy nominated
          i China’s Mystery Mummies
          | . He has completed 5 seasons of
          i Our America
          |  with Lisa Ling on the Oprah Winfrey Network, and is now contributing to the television show
          i This is Life, with Lisa Ling
          |  on CNN.
          br
          b
            | Jeff Adelberg,
            i Lighting Designer
          br
          |     Also for Brandeis Theatre Co:
          i
            | Shoes On / Shoes Off, Two Dance Stories, A View from The Bridge, Heaven+Hell/Light+Dark
          | . Other recent work:
          i
            | The Curious Incident of the Dog in the Night-Time, Hand To God, Dogfight, Mothers and Sons, Necessary Monsters
          |  (Speakeasy Stage Co.);
          i The Owl Answers
          | (Harvard TDM);
          i Edward II, God’s Ear, The Comedy of Errors, As You Like It, Middletown
          |  (Actors’ Shakespeare Project);
          i The Importance of Being Earnest, Arcadia
          |  and
          i The Children’s Hour
          |  (Gamm Theatre);
          i Constellations
          | ,
          i When January Feels Like Summer and mr. G
          | (Underground Railway Theatre);
          i Rhinoceros
          |  (Playwrights’ Theatre);
          i Julius Caesar
          |  (Commonwealth Shakespeare Co.);
          i Blasted
          |  (Off The Grid Theatre);
          i Dusk Rings a Bell, Equally Divided
          |  (Merrimack Repertory Theatre);
          i Mary’s Wedding
          |  (Playmakers Repertory Theatre);
          i Altar Boyz, Mame, Lobster Girl, Sorry
          | (Stoneham Theatre);
          i Regular Singing
          |  (New Repertory Theatre);
          i  Side Show, The Nightmare Box, Red Noses, Le Nozze di Figaro
          |  (The Boston Conservatory); Boston’s Christmas Revels since 2010. A graduate of the University of Connecticut, Jeff teaches at Boston College, Brandeis University, and MIT. Member of United Scenic Artists 829. www.LDJeff.com
          br
          b
            | Cameron Anderson,
            i Scenic Designer
          br
          |     Cameron Anderson is an internationally acclaimed scenic and projection designer, and has designed extensively at the world’s leading theater and opera companies. She recently designed
          i West Side Story
          |  for Norway’s Kilden Performing Arts Center and for The Vancouver Opera, and Simon Boccanegra for Argentina’s Teatro Colon. Selected Off-Broadway credits include: The Roundabout Theatre Company, Playwrights Horizons, New Georges, LAByrinth Theater Company, Naked Angels, Brooklyn Academy of Music, and Les Freres Corbusier. Regional Theater credits include: The Huntington Theatre Company, Two River Theater Company, South Coast Repertory, and Shakespeare & Company. Selected opera credits include: The Glimmerglass Opera, Central City Opera, Minnesota Opera, Opera Theater of St. Louis, Wolf Trap Opera, USC Thornton School of Music, Seattle Opera, Manhattan School of Music, Gotham Chamber Opera, Opera Boston, Pittsburgh Opera, The San Francisco Opera, and The New England Conservatory. Upcoming projects include designing the entire three production season for Opera Saratoga in 2018,
          i Into The Breeches
          |  at Trinity Rep,
          i Brazen
          | , directed by Melia Bensussen at Emerson Stage, and
          i Clorilli
          | , a world premiere, at NYU’s Florence, Italy campus. Cameron joined the Theatre Arts faculty in 2012. www.cameronanderson.net
          br
          b
            | Hannah Uher,
            i Stage Manager
          br
          |     Hannah is a senior double majoring in Theater Arts and History. Past stage management credits include
          i Urinetown
          |  and 24 Hour:
          i Seussical
          |  (Undergraduate Theater Collective);
          i No Exit
          |  (Senior Thesis Festival 2015); and
          i The Rosenbergs
          |  Concert Performance (Department of Theater Arts). Past assistant stage management credits include
          i Leveling Up, Intimate Apparel
          | , and
          i Macbeth
          |  (Department of Theater Arts);
          i Lost Girls
          | , 24 Hour:
          i High School Musical
          | , and Quickies 2014 and 2016 (Undergraduate Theater Collective); and the 2016 Senior Thesis Festival.
          br
