html
  head
    link(rel='stylesheet', href='/stylesheets/cast.css')
    .wrapper
      .one
        header
          center
            span.cast
              | Cast of
            br
            span.fefu
              i Fefu and Her Friends
            br
            span.order
              | in order of appearance
            br
      .two
        ul.leaders(style='font-size:200%; font-family:optima;')
          li
            span Fefu
            span Rebecca Myers
          li
            span Cindy
            span Keturah Walker
          li
            span Christina
            span Roopa Boodhun
          li
            span Julia
            span Sara Kenney
          li
            span Emma
            span Haia Bchiri
          li
            span Paula
            span Remony Perlman
          li
            span Sue
            span Emily Bisno
          li
            span Cecilia
            span Alex Wu
      .three
        p.triple
        p.single
          br
      .four
        center
          p.double(style='font-size:190%; font-family:optima;')
            br
            |       Location: New England, Spring 1935
            br
            |       Part 1-Noon.
            br
            |       Part 2-Afternoon
            br
            |       Part 3-Evening
            br
            br
            br
