html
  style.
    .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    }
    .flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
    }
    .article {
    text-align: left;
    }
    header {background: black;color:white;}
    footer {color:black;}
  //
    <center>
    <h1 style="background-color:black; color:white" >
    Brandeis Department of Theater Arts
    </h1>
    </center>
    </div>
  head
    link(rel='stylesheet', href='fefu.css')
    .wrapper
      .one
        .flex-container
          header
            h1
              center Brandeis Department of Theater Arts
      .two
        center
          p(style='font-size:160%; font-family:optima;')
            | Susan Dibble
            br
            |       Chair
      .three
        center
          p(style='font-size:160%; font-family:optima;')
            | Robert Walsh
            br
            |        Artistic Director
      .four
        center
          p(style='font-size:300%; font-family:optima;')
            | presents
      .five
        center
          h1(style='font-size:650%; font-family:Book Antiqua;')
            i Fefu and Her Friends
      .six
        center
          p(style='font-size:400%; font-family:Verdana;')
            | by María Irene Fornés
          p(style='font-size:300%; font-family:Verdana;')
            | Directed by Adrianne Krstansky
          p(style='font-size:230%; font-family:Verdana;')
            | Scenic Design by Cameron Anderson
            br
            br
            |         Costume Design by Mary Hurd
            br
            br
            |         Lighting Design by Jeff Adelberg
            br
            br
            |         Sound Design and Original Music by Dewey Dellay
            br
            br
            |         Stage Managed by Hannah Uher
  body
  footer
    center
      h1
        | FEFU AND HER FRIENDS (SINGLE STAGE VERSION) is produced
        br
        |       by special arrangement with Broadway Play Publishing Inc, NYC
        br
        br
        |       www.broadwayplaypub.com
