doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') EZ Plays
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/festival/titleSenior') Home
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | Plays
                span.caret
              ul.dropdown-menu
                li
                  a(href='/festival/Pearls') From Pearls to Hoops
                li
                  a(href='/festival/queeringTheCape') Queering the Cape
                li
                  a(href='/festival/Shakespeare') Shakespeare Girlz
                li
                  a(href='/festival/lucid') Lucid
                li
                  a(href='/festival/bloodAndWater') Blood and Water
            li
              a(href='/festival/festivalschedule') Schedule
            li
              a(href='/festival/festival-staff') Festival Staff
            li
              a(href='/festival/psSenior2') Production Staff
            li
              a(href='/festival/friendsSenior') Friends
            li
              a(href='/festival/about') About
html
  link(rel='stylesheet', href='/stylesheets/festivalStaff.css')
  main#main
    .wrapper
      .one
        center
          p(style='font-size:350%; font-family:Book Antiqua; font-weight:bold;')
            | Festival Staff
      .two
        each val in festivalStaff
          div(align='left')
            p(style='font-size:180%; font-family:optima; font-weight:bold;')
              | #{val.people} (#{val.role})
            p(style='font-size:170%; font-family:optima;')
              |#{val.bio}
            br
