html
  head
    link(rel='stylesheet', href='/stylesheets/festivalschedule.css')
    main#main
      a
        center
          d
            b Festival Schedule
          br
          f All performances are held in the Laurie Theater
          br
          br
  body
    f
      e
        u Wednesday, April 18th
      br
      | 		6:30 pm -
      i From Pearls to Hoops
      br
      | 		8:00 pm -
      i
        | The Most Excellent and Lamentably PC But Incompleat Tragedy of Shakespeare's Womyn Without a Single Reference to Lady Macbeth, Or What You Will
      br
      br
      e
        u Thursday, April 19th
      br
      | 		6:30 pm -
      i Queering the Cape: Hidden Themes in American Superhero Comic Books
      br
      | 		8:00 pm -
      i Lucid
      br
      br
      e
        u Friday, April 20th
      br
      | 		6:30 pm -
      i Lucid
      br
      | 		8:00 pm -
      i Queering the Cape: Hidden Themes in American Superhero Comic Books
      br
      | 		9:30 pm -
      i From Pearls to Hoops
      br
      br
      e
        u Satuday, April 21st
      br
      | 		2:00 pm -
      i Lucid
      br
      | 		3:30 pm -
      i Queering the Cape: Hidden Themes in American Superhero Comic Books
      br
      | 		6:00 pm -
      i
        | The Most Excellent and Lamentably PC But Incompleat Tragedy of Shakespeare's Womyn Without a Single Reference to Lady Macbeth, Or What You Will
      br
      | 		7:30 pm -
      i From Pearls to Hoops
      br
      br
      e
        u Sunday, April 22nd
      br
      | 		2:00 pm -
      i
        | The Most Excellent and Lamentably PC But Incompleat Tragedy of Shakespeare's Womyn Without a Single Reference to Lady Macbeth, Or What You Will
      br
