doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/navigationbar.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') EZ Plays
        ul.nav.navbar-nav
          li.active
            a(href='/festival/titleSenior') Home
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Plays
              span.caret
            ul.dropdown-menu
              li
                a(href='/festival/Pearls') From Pearls to Hoops
              li
                a(href='/festival/queeringTheCape') Queering the Cape
              li
                a(href='/festival/Shakespeare') Shakespeare Girlz
              li
                a(href='/festival/lucid') Lucid
              li
                a(href='/festival/bloodAndWater') Blood and Water
          li
            a(href='/festival/festivalschedule') Schedule
          li
            a(href='/festival/festival-staff') Festival Staff
          li
            a(href='/festival/psSenior2') Production Staff
          li
            a(href='/festival/friendsSenior') Friends
          li
            a(href='/festival/about') About
html
  head
    link(rel='stylesheet', href='/stylesheets/festivalschedule.css')
    main#main
      heading
        center
          d
            b Festival Schedule
          br
          f All performances are held in the Laurie Theater
          br
          br
      f
        e
          u Wednesday, April 18th
        br
        | 		6:30 pm -
        i From Pearls to Hoops
        br
        | 		8:00 pm -
        i
          | The Most Excellent and Lamentably PC But Incompleat Tragedy of Shakespeare's Womyn Without a Single Reference to Lady Macbeth, Or What You Will
        br
        | 9:30 pm -
        i Blood and Water
        br
        br
        e
          u Thursday, April 19th
        br
        | 		6:30 pm -
        i Queering the Cape: Hidden Themes in American Superhero Comic Books
        br
        | 		8:00 pm -
        i Lucid
        br
        br
        e
          u Friday, April 20th
        br
        | 		6:30 pm -
        i Lucid
        br
        | 		8:00 pm -
        i Queering the Cape: Hidden Themes in American Superhero Comic Books
        br
        | 		9:30 pm -
        i From Pearls to Hoops
        br
        br
        e
          u Satuday, April 21st
        br
        | 		2:00 pm -
        i Lucid
        br
        | 		3:30 pm -
        i Queering the Cape: Hidden Themes in American Superhero Comic Books
        br
        | 		6:00 pm -
        i
          | The Most Excellent and Lamentably PC But Incompleat Tragedy of Shakespeare's Womyn Without a Single Reference to Lady Macbeth, Or What You Will
        br
        | 		7:30 pm -
        i From Pearls to Hoops
        br
        br
        e
          u Sunday, April 22nd
        br
        | 		2:00 pm -
        i
          | The Most Excellent and Lamentably PC But Incompleat Tragedy of Shakespeare's Womyn Without a Single Reference to Lady Macbeth, Or What You Will
        br
