doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1
       | Brandeis TheaterApp
    li
      a(href='/festival/titleSenior')
        | Senior Festival Title
    li
      a(href='/festival/festivalschedule')
        | Senior Festival Schedule
    li
      a(href='/festival/friendsSenior')
        | Friends of Brandeis
    li
      a(href='/festival/festival-staff')
        | Senior Festival Staff Page
    li
      a(href='/festival/Pearls')
        | Pearls to Hoops
    li
      a(href='/festival/lucid')
        | Lucid
    li
      a(href='/festival/queeringTheCape')
        | Queering the Cape
    li
      a(href='/festival/shakespeare')
        | Shakespeare Girlz
    li
      a(href='/festival/bloodAndWater')
        | Blood and Water
    li
      a(href='/festival/psSenior2')
        | Senior Festival Production Staff 2
    li
      a(href='/festival/about')
        | About Us

    block content
