doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1
       | Brandeis TheaterApp
    li
     a(href='/fefu/title')
         | Main page
    li
      a(href='/fefu/notes')
        | Director's Notes
    li
      a(href='/fefu/cast')
        | Cast
    li
      a(href='/fefu/bio')
        | Who's Who in the Cast and Crew
    li
      a(href='/fefu/ps')
        | Production Staff
    li
      a(href='/fefu/friends')
        | Friends of Theater Arts
    li
      a(href='/festival/festival-staff')
        | Senior Festival Staff Page
    li
      a(href='/festival/Pearls')
        | Pearls to Hoops
    block content
