<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EZ Plays</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="#"><a href="/festival/titleSenior">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Plays<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/festival/Pearls">From Pearls to Hoops</a></li>
            <li><a href="/festival/queeringTheCape">Queering the Cape</a></li>
            <li><a href="/festival/Shakespeare">Shakespeare Girlz</a></li>
  					<li><a href="/festival/lucid">Lucid</a></li>
  					<li><a href="/festival/bloodAndWater">Blood and Water</a></li>
          </ul>
        </li>
        <li><a href="/festival/festivalschedule">Schedule</a></li>
        <li><a href="/festival/festival-staff">Festival Staff</a></li>
  			<li><a href="/festival/psSenior">Production Staff</a></li>
  			<li><a href="/festival/friendsSenior">Friends</a></li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>
