html
  link(rel='stylesheet', href='/stylesheets/directors.css')
  main#main
    .wrapper
      .one
        center
          p(style='font-size:350%; font-family:times;')
            | Director's Notes
      .two
        each val in notes
          p(style='font-size:170%; font-family:optima;')
            | #{val.note}
          div(align='right')
            p(style='font-size:180%; font-family:optima;')
              | #{val.people}, #{val.role}
          br
