
head
  link(rel='stylesheet', href='/stylesheets/PtoH.css')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') EZ Plays
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/festival/titleSenior') Home
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Plays
              span.caret
            ul.dropdown-menu
              li
                a(href='/festival/Pearls') From Pearls to Hoops
              li
                a(href='/festival/queeringTheCape') Queering the Cape
              li
                a(href='/festival/Shakespeare') Shakespeare Girlz
              li
                a(href='/festival/lucid') Lucid
              li
                a(href='/festival/bloodAndWater') Blood and Water
          li
            a(href='/festival/festivalschedule') Schedule
          li
            a(href='/festival/festival-staff') Festival Staff
          li
            a(href='/festival/psSenior2') Production Staff
          li
            a(href='/festival/friendsSenior') Friends
          li
            a(href='/festival/about') About
  main#main
    center
      t
        i  From Pearls to Hoops
      br
      d
        | Directed by Shaquan McDowell and Keturah Walker
        br
        |     Written by Keturah Walker
        br
        |     STARRING:
        c
          .row
            .column
              center
                | Salena Deane
                br
                |             Will Jones
                br
                |             Shaquan McDowell
            .column
              center
                | Tamera Tarwoe
                br
                |             Tyffany English
                br
                |             Lauren Komer
            .column
              center
                | Hangil Ryu
                br
                |             Keturah Walker
                br
                |             Nyomi White
          |       Stage Manager/ Assistant Director- Renata Leighton
          br
    e
      br
      | A Special Thanks...
      br
      br
      |       Honestly, this project could not have been at all possible without the love and support from so many people. I would like to thank Professor Derron Wallace, Michelle Dennis, My entire cast, Annkatrine Gates, Brandeis Atlanta Posse 4 (otherwise known as Trap Posse 2), Kendra Yarbor, Yolanda Buford, Virgil Walker, my grandparents, my siblings, Deborah Parker, Jonah Garcia, Rayelle Garner, Toxic Majorette Dance line, Jasmine Purnell, Lindsey McWorter, Brandon Green, Will Chalmus, Jamie Parham, Alicia Hyland, Bonnie Williams, Jacqui Parker, Audrey Potter, Adrianne Krstansky, Shaquan McDowell,
      |       Renata Leighton, Chris Tedford, Ben Johnson, Steve Deptula, Emily McCourt, Jen Cleary, Susan Dibble, Brandeis Black Student Organization, Women of Color Alliance, Toxic Majorette Dance Line, and all of my best friends! Luzi Altman, Jaelen Hysaw, Cornelius Sanford and My DR Friends!
      br
      br
      |       This project is intended to encourage and promote a change in theater, not only at Brandeis, but in all communities. Thank you to all who came to support! Please feel free to contact me via email keturahsemail@gmail.com with any feedback or methods of support!
    br
    br
    center
      who  Who’s Who in the Cast and Crew
    br
    e
      b  Salena Deane (Young KT/Her)
      br
      |     Salena loves theatre, especially when she acts in a role she can connect with. She is an English and Creative Writing major with a pen for poetry. This show is like poetry to her. Keturah is an inspiration for Salena, not only as a prominent black woman figure on campus, but as a friend. She is excited to get the opportunity to do stories, like Keturah’s, justice on the stage. But she is even more excited to help her sister call all of you out on your bullsh*t. #BlackLivesMatter #BlackActorsMatter #BlackWomeninTheatreMatter
      br
      br
      b  Tyffany English (Rebecca/Inner BB2)
      br
      |     Tyffany is double majoring in Economics and Creativity, the Arts, and Self-Transformation. She is from Buford, Georgia and is an Atlanta Posse Scholar. She has theater experience working as a costume tech in competition plays and as an actress in
      i The Princess Plays
      |  and
      i Pride and Prejudice
      | . She was the assistant director of
      i The Love of the Nightingale
      | . She is the president of the Fashion Design Club, has been on the Brandeis Cheer squad since her freshman year, and has written for HerCampus.
      br
      br
      b  Wil Jones (Boy 1/Deonte/Wallace)
      br
      |     Wil will graduate this May with a degree in African and Afro-American Studies. Previous roles include
      i Uncle Henry, The Gatekeeper,
      |  and a Flying Monkey in the Undergraduate Theater Collective's 2016 production of
      i The Wiz
      | .
      br
    br
    e
      b  Lauren Komer (Ms. Parker/Senorita Fefe/Cheerleader/Gabi/Josh)
      br
      |     Lauren is planning to pursue a double major in Theater Arts and Musical Theater Performance. Komer is a member of the Brandeis University Theater Arts Fellowship. Past credits include Brandeis Theater Department’s
      i Into the Woods
      |  (Snow White/Ensemble), Hold Thy Peace’s
      i A Midsummer Night's Dream
      |  (Assistant Director), and the Undergraduate Theater Collective’s
      i Blithe Spirit
      |  (Assistant Director).
      br
      br
      b  Renata Leighton (Assistant Director/Stage Manager)
      br
      |     Renata has been seen onstage this year in Free Play Theatre Cooperative’s production of
      i Metamorphosis
      | , as well as performing in Playback Theatre! She directed the staged reading of
      i Lampreys in the Night
      |  and assistant directed a senior thesis entitled
      i My Dearest Monster
      | . She is a member of the Freeplay executive board and co-director of the Brandeis Playback Theatre Troupe. Renata would like to thank Keturah and Shaquan for the opportunity to be a part of this amazing thesis!
      br
      br
      b  Shaquan McDowell (Director/Principal)
      br
      |     Though majoring in Politics and History with a goal to claim the office of POTUS for himself, Shaquan has found the realm of theater to provide an amount of enthusiasm, which cannot be found anywhere else. He's starred in productions such as
      i Intimate Apparel
      |  (2016),
      i The Love of A Nightingale
      |  (2015),
      i Columbinus
      |  (2015),
      i Rent
      |  (2012), can be seen as a feature on Al Jazeera America's DocuSeries
      i Edge of Eighteen
      |  (2014), and director of Amanda Ehrmann's
      i My Dearest Monster
      |  (2017). Shaquan is co-founder and President of The Purple Party; an independent youth political organization, based out of Atlanta.
      br
      br
      b  Hangil Ryu (Professor/Inner BB1/Professor 2)
      br
      |     Hangil is majoring in Philosophy and minoring in Business and Creativity, the Arts, and Social Transformation. Hangil loves philosophy, stand-up comedy, improvisation, and electric skateboards. He would like to thank Keturah, Shaquan, and Renata for letting him participate in
      i From Pearls to Hoops
      |  and a special thanks to his mother for being the most awesome human being he knows and for giving him life.
      br
      br
      b  Tamera Tarwoe (Cousin/She)
      br
      |     Tamera is a first-year student from Worcester, Massachusetts. She has participated in plays such as
      i The Wizard of Oz
      |  and
      i The Little Mermaid
      |  and did theater in high school. Tamera is an aspiring actress and hopes to get more involved in the Theater Department at Brandeis.
      br
      br
      b  Keturah Walker (Playwright/Co-director/Actor)
      br
      |     Keturah is a senior and Theater Arts major interested in pursuing a career in film acting. She has been in several Brandeis University productions including
      i
        | Intimate Apparel, Ruined, Fefu and Her Friends, Death of the Last Black Man in the Entire World, The Wiz
      |  and
      i The Love of the Nightingale
      | . Keturah hopes to illuminate the issues of socio-economic disparities and accessibility as it relates to theater and deconstruct the traditionally classist space to allow more diverse experiences an opportunity to create art. She also aims to shed light on the absence of tenured professors of color in the Brandeis Theater Department in hope to diversify the curriculum and cultural consciousness for future students!
      br
      br
      b  Nyomi White (Mom/Classroom Student/Parham/LaShawn)
      br
      |     Nyomi is majoring in English and minoring in Legal Studies and Journalism. She has participated mostly in Undergraduate Theater Collective shows such as
      i Urinetown: The Musical
      |  (Little Sally),
      i Alice in Wonderland
      |  (Cheshire Cat) and Once Upon a Mattress (the Wizard). She would like to thank her friends and family for supporting her and Keturah for inspiring her to continue to talk about race within the context of theater. Enjoy!
      br
