html
  head
    link(rel='stylesheet', href='/stylesheets/ps.css')
    .wrapper
      .one
        center
          br
          p.bottom(style='font-size:275%; font-family:optima;')
            b Production Staff
        ul.leaders(style='font-size:170%; font-family:optima;')
          li
            span
              | Assistant Directors
            span Andrew Child, Joelle Robinson
          li
            span Assistant Stage Managers
            span Delaney Palma, Emily Politi
          li
            span Prop Master
            span Maggie Cooper
          li
            span Scenic Charge
            span Holly Diaz
          li
            span Shop Supervisor
            span Thomas Farrell
          li
            span
              | Carpenters
            span Sivan Ertel, Luis Flores, Molly Rocca
          li
            span Run Crew
            span Emily Hancock, Melody Wilkenfeld
          li
            span Electricians
            span
              div(align='right')
                | Kaeda Morales, Steven Reilly, Jacob
                | Margolis, Anthony Fimmano, Zachary
                | Kolar, Megan McClory, Noah Mark
          li
            span Lighting Programmer
            span Megan McClory
          li
            span Sound Board Operator
            span Zain Walker
          li
            span
              | Open Caption Designer
            span Andrew Child
          li
            span Open Caption Operator
            span Isabella Stork
          li
            span First Hand
            span Sally Perry
          li
            span Costume Construction
            span
              | Marisol Abreu, Haia Bchiri, Ellie
              | McKnight, Remony Perlman
          li
            span Dressers
            span Riely Allen, Kate Kesselman
          li
            span
              | House Manager
            span Katie Sumi
          li
            span Head Ushers
            span Tamara Garcia, Brenda Shen
          li
            span Front of House
            span
              div(align='right')
                | Ben Astrachan, Jessica Lam, Anna
                | Sherman, Jared Snyder, Alina Sipp-Alpers,
                | Gabe Walker, Arya Vanetsky
          li
            span Box Office
            span
              div(align='right')
                | Brittany Duncan, Lily Feinson,Tafara Gava,
                | Melina Gross, Emma Gutman, Emma
                | Hanselman, Jamie Jason, Candice Jiang,
                | Emily Kaplan, Carmen Lopez-Landaverde
      .two
        center
          p.times.double(style='font-size:300%')
            | Every time I listen to Fornes, or read or see one of her plays, I feel this: she breathes, has always breathed, a finer, purer, sharper air.”
            br
            |           Tony Kushner
