doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/navigationbar.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') EZ Plays
        ul.nav.navbar-nav
          li.active
            a(href='/festival/titleSenior') Home
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Plays
              span.caret
            ul.dropdown-menu
              li
                a(href='/festival/Pearls') From Pearls to Hoops
              li
                a(href='/festival/queeringTheCape') Queering the Cape
              li
                a(href='/festival/Shakespeare') Shakespeare Girlz
              li
                a(href='/festival/lucid') Lucid
              li
                a(href='/festival/bloodAndWater') Blood and Water
          li
            a(href='/festival/festivalschedule') Schedule
          li
            a(href='/festival/festival-staff') Festival Staff
          li
            a(href='/festival/psSenior2') Production Staff
          li
            a(href='/festival/friendsSenior') Friends
          li
            a(href='/festival/about') About

head
  link(rel='stylesheet', href='/stylesheets/psSenior2.css')
  center
    br
    p.bottom(style='font-size:275%; font-family:optima;')
      b Production Staff
  main#main
    left
      | Festival Assistant Director
    right
      | Alex Jacobs
    br
    br
    left
      | Production Manager
    right
      | Julien Tremblay
    br
    br
    left
      | Carpenters
    right
      | Sivan Ertel, Luis Flores,
      br
      |              Jacob Margolis, Molly Rocca, Andie Watson
    br
    br
    br
    left
      | Electricians
    right
      | Aliza Burr, Anthony Fimmano,
      br
      |              Zachary Kolar, Jacob Margolis, Becky
      br
      |              Marsh, Megan McClory
    br
    br
    br
    br
    left
      | Light Board Operator
    right
      | Megan McClory
    br
    br
    left
      | Costume Construction
    right
      | Marisol Abreu, Haia Bchiri,
      br
      |              XiaoXi Ma, Ellie McKnight
    br
    br
    br
    left
      | Costume Stock Managers
    right
      | Rachel Bossuk, Andrew Child
    br
    br
    left
      | House Manager
    right
      | Katie Sumi
    br
    br
    left
      | Head Ushers
    right
      | Tamara Garcia, Jessica Lam, XiaoXi Ma, Anna
      br
      |             Sherman, Alina Sipp-Alpers, Gabe Walker
    br
    br
    br
    br
    br
    br
    main#box
      e
        center
          b
            | ~Special Thanks~
      .row
        .column
          center
            | Cameron Anderson
            br
            |                 Boston Conservatory
            br
            |                 J.B. Barricklo
            br
            |                 Jen Cleary
            br
            |                 Steve Deptula
            br
            |                 Susan Dibble
            br
            |                 Mary Hurd
            br
            |                 Alicia Hyland
            br
            |                 Alex Jacobs
            br
        .column
          center
            | Ben Johnson
            br
            |                 Mike Lovett
            br
            |                 Office of Communications
            br
            |                 Katie Sumi
            br
            |                 Harold and Mimi Steinberg Charitable Trust
            br
            |                 Chris Tedford
            br
            |                 Dmitry Troyanovsky
            br
            |                 Bob Walsh
            br
