html
  head
    link(rel='stylesheet', href='shakespeare.css')
    main#main
      a
        center
          c
            i The Most Excellent and Lamentably PC but
            br
            i Incompleat Tragedy of Shakespeare's
            br
            i Womyn (without a Single Reference to Lady
            br
            i Macbeth): or What You Will
          br
          d
            | Directed and Choreographed by Andrew Child
            br
            |         Compiled by Sara Kenney
            br
            |         STARRING:
            br
            br
          x
            | Sara Kenney and Rachel Greene
            br
            br
            |         Projections Operator - Sivan Spector
            br
            |         Stage Manager - Hana Cornwell
          br
          br
  body
    y
      b  A note from Sara:
    br
    br
    e
      | When we talk about the intersection between “women” and “power,” the women populating Shakespeare’s plays truly run the gamut of what power can be: they are the all- seeing prophets, savage queens, comic cross-dressers, strong-willed witches, conspiring mistresses, and quick-witted shrews. But how they navigate female power, what that
      | becomes in terms of gender expression, and redefining what it means to be “woman,” is what, I think, makes them so distinct and groundbreaking.
      br
      br
      | “But!” you cry, “Where is the tragedy in that?”
      br
      br
      | In spite of their presence on the page and stage, there still exists the critical issue of
      | how we engage with them in a performance space beyond traditional definitions of
      | womanhood, beyond viewing them as subjugated victims, or strictly in service of
      | patriarchal prerogatives. With more all-women Shakespeare companies and productions
      | on the rise, the questions of “Who are Shakespeare’s women?” and “What are women
      | anyway?” have burst into public consciousness, and I have found it increasingly vital to
      | be an active voice in participating in and even guiding these conversations.
      br
      br
      | In constructing this piece, I sought to engage a traditional narrative or reading with a more
      | feminist one. I ask: how do we read Shakespeare’s women in an empowering way while
      | honoring the text? What do these forms of power look like in performance? What makes
      | “the woman,” or how do we grapple with such an unfixed definition in a single hour?
      br
      br
      | When we take a closer look at the circumstances of these characters, we do not just see
      | hotheaded shrews with fiery tongues and male disguises, but lively women who navigate
      | their way through patriarchal structures and find agency and even opportunity within
      | those bounds. At the crux of this piece, we celebrate The Unconventional Woman. We
      | celebrate the bravery that comes with breaking the rules, defying gender expectations,
      | and finding unchecked freedom and life in body and expression. The women in this piece
      | remind us what it means to vitally take up space, and not just within the worlds that
      | Shakespeare wrote, but also for women performers in the theatre community at large.
      br
      br
      | I am so thankful for the support I have received over the course of this process: to Susan
      | and Alicia, for your unmatched guidance and listening ears; to Tom King, for always
      | embracing and expanding my perspective; and to Sarah Hickler, for your brilliant
      | workshop and acute notes.
      br
      br
      | I also must emphasize that this project would not exist without the efforts of the
      | #$hakespeareGirlz team: The Most Honorable Actress Rachel Greene, The Ever-Steadfast
      | Stage Manager Hana Cornwell, and the other half of my conscience, The Oft-Inspiring
      | Director Andrew Child – my gratitude to you all knows no bounds. Thank you for your
      | patience, good humor, and above all, love of the work. “I can no other answer
      | make but thanks, and thanks; and ever thanks.” (Twelfth Night, III.iii)
      br
      br
    center
      who  Who’s Who in the Cast and Crew...
    br
    e
      b  Andrew Child (Director/Designer)
      br
      |   Previously at Brandeis, Andrew has performed in
      i Leveling Up; Shoes On, Shoes Off;
      | and
      i Tiny Dance Project #1
      | , assistant directed
      i Fefu and Her Friends
      | , and directed
      i
        | Peter &
        | Wendy
      |  (Leonard Bernstein Festival). Select additional directorial credits include
      i
        | Macbeth,
        | Troilus & Cressida, The Taming of the Shrew, Pygmalion, A Little Princess, The Witches
      | ,
      | and
      i The Daffodil Girls
      |  (staged reading). More at andrewtchild.com.
      br
      b Hana Cornwell (Stage Manager)
      br
      | Hana intends to major in IGS and minor in Theater Arts and Latin American Studies. She is
      | delighted to be stage managing her first Brandeis Department of Theater Arts production.
      | Her previous credits include stage managing the UTC production of
      i Blithe Spirit.
      br
      b Rachel Greene (Celia, et. al)
      br
      | Rachel Greene is a sophomore majoring in Theater Arts. Some favorite recent credits
      | include
      i Iphigenia and Other Daughters
      |  (Electra) with Brandeis’ Hold Thy Peace,
      i
        | Once
        | Upon A Mattress
      |  (Princess Winnifred) and
      i She Kills Monsters
      |  (Lilith Morningstar) with
      | Brandeis’ Undergraduate Theater Collective,
      i Luna
      |  (Queen Charles) with the Brandeis
      | Department of Theater Arts, and
      i First Date
      |  (Google Girl, u/s Allison) with J-Town Playhouse
      | in Jerusalem, Israel. Rachel is thrilled to be a part of this show and this wonderful team
      | and would like to thank Sara for giving her the opportunity to act alongside her as a
      | #$hakespearegirl!
      br
      b Sara Kenney (Compiler/Rosalind, et. al)
      br
      | Sara is a senior majoring in Theater Arts and minoring in Medieval & Renaissance Studies.
      | Recent credits include
      i The Spaces Between Us
      | , Julia in
      i
        | Fefu and Her Friends, Taking Ages,
        | A Friend to All in Shoes On, Shoes Off
      |  and Marley/Disciple in
      i
        | The Contractual Death of
        | Jonathan G. Faustus
      |  (Brandeis Department of Theater Arts),
      i Peter and Wendy
      |  (Leonard
      | Bernstein Festival), Banquo in
      i Macbeth
      |  (Ovalhouse Theatre), Jessica in
      i
        | The Merchant
        | of Venice, The Complete Works...[Abridged]
      |  and Puck in
      i A Midsummer Night’s Dream
      | (Hold Thy Peace). She also studied at the British American Drama Academy in London.
