html
  head
    link(rel='stylesheet', href='/stylesheets/titleSenior.css')
  body
    .wrapper
      .one
        .flex-container
          header
            h1
              center Brandeis Department of Theater Arts
      .two
        center
          p(style='font-size:170%; font-family:optima;')
            | Susan Dibble
            br
            |               Chair of Theater Arts Department
      .three
        center
          p(style='font-size:170%; font-family:optima;')
            | Robert Walsh
            br
            |               Artistic Director
      .four
        center
          a presents
      .five
        center
          b
            i  Senior Festival
      .six
        center
          p(style='font-size:275%; font-family:optima;') Featuring work by:
          p(style='font-size:325%; font-family:optima;')
            | Anthony Fimmano
            br
            br
            |             Sara Kenney
            br
            br
            |             Gabi Nail
            br
            br
            |             Lilia Shrayfer
            br
            br
            |             Keturah Walker
            br
            br
            |             Hannah Uher
            br
          p(style='font-size:260%; font-family:optima;')
            | Executive Directed by Alicia Hyland
            br
            br
            |              Assistant Directed by Alex Jacobs
            br
            br
            |              Lighting Design by Emily McCourt
            br
            br
            |              Production Stage Managed by Lauren Burke
            br
            br
