doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/navigationbar.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') EZ Plays
        ul.nav.navbar-nav
          li.active
            a(href='/festival/titleSenior') Home
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Plays
              span.caret
            ul.dropdown-menu
              li
                a(href='/festival/Pearls') From Pearls to Hoops
              li
                a(href='/festival/queeringTheCape') Queering the Cape
              li
                a(href='/festival/Shakespeare') Shakespeare Girlz
              li
                a(href='/festival/lucid') Lucid
              li
                a(href='/festival/bloodAndWater') Blood and Water
          li
            a(href='/festival/festivalschedule') Schedule
          li
            a(href='/festival/festival-staff') Festival Staff
          li
            a(href='/festival/psSenior') Production Staff
          li
            a(href='/festival/friendsSenior') Friends

html
  head
    link(rel='stylesheet', href='/stylesheets/titleSenior.css')
  body
    .wrapper
      .one
        .flex-container
          header
            h1
              center Brandeis Department of Theater Arts
      .two
        center
          p(style='font-size:170%; font-family:optima;')
            | Susan Dibble
            br
            |               Chair of Theater Arts Department
      .three
        center
          p(style='font-size:170%; font-family:optima;')
            | Robert Walsh
            br
            |               Artistic Director
      .four
        center
          a presents
      .five
        center
          b
            i  Senior Festival
      .six
        center
          p(style='font-size:275%; font-family:optima;') Featuring work by:

          p(style='font-size:100%; font-family:optima;')
            a(href='/festival/queeringTheCape')
              | Anthony Fimmano
            br
            br
            a(href='/festival/shakespeare')
              |             Sara Kenney
            br
            br
            a(href='/festival/lucid')
              |             Gabi Nail
            br
            br
            a(href='/festival/bloodAndWater')
              |             Lilia Shrayfer
            br
            br
            a(href='/festival/Pearls')
              |             Keturah Walker
            br
            br
            a(href='/festival/lucid')
              |             Hannah Uher
            br
          p(style='font-size:260%; font-family:optima;')
            | Executive Directed by Alicia Hyland
            br
            br
            |              Assistant Directed by Alex Jacobs
            br
            br
            |              Lighting Design by Emily McCourt
            br
            br
            |              Production Stage Managed by Lauren Burke
            br
            br
