doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') EZ Plays
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/festival/titleSenior') Home
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | Plays
                span.caret
              ul.dropdown-menu
                li
                  a(href='/festival/Pearls') From Pearls to Hoops
                li
                  a(href='/festival/queeringTheCape') Queering the Cape
                li
                  a(href='/festival/Shakespeare') Shakespeare Girlz
                li
                  a(href='/festival/lucid') Lucid
                li
                  a(href='/festival/bloodAndWater') Blood and Water
            li
              a(href='/festival/festivalschedule') Schedule
            li
              a(href='/festival/festival-staff') Festival Staff
            li
              a(href='/festival/psSenior2') Production Staff
            li
              a(href='/festival/friendsSenior') Friends
            li
              a(href='/festival/about') About


html
  head
    link(rel='stylesheet', href='/stylesheets/titleSenior.css')
  body
    .wrapper
      .one
        .flex-container
          header
            h4
              center Brandeis Department of Theater Arts
      .two
        br
        br
        center
          p(style='font-size:100%; font-family:optima;')
            | Susan Dibble
            br
            b               Department Chair
      .three
        br
        br
        center
          p(style='font-size:100%; font-family:optima;')
            | Robert Walsh
            br
            b               Artistic Director
      .four
        center
          reg
            | presents
      .five
        center
          festivalTitle
            i  Senior Festival
            br
      .six
        center
          p(style='font-size:200%; font-family:optima;') Featuring work by:

          p(style='font-size:200%; font-family:optima;')
            a(href='/festival/queeringTheCape')
              | Anthony Fimmano
            br
            br
            a(href='/festival/shakespeare')
              |             Sara Kenney
            br
            br
            a(href='/festival/lucid')
              |             Gabi Nail
            br
            br
            a(href='/festival/bloodAndWater')
              |             Lilia Shrayfer
            br
            br
            a(href='/festival/Pearls')
              |             Keturah Walker
            br
            br
            a(href='/festival/lucid')
              |             Hannah Uher
            br
            br
          p(style='font-size:200%; font-family:optima;')
            | Executive Directed by Alicia Hyland
            br
            br
            |              Assistant Directed by Alex Jacobs
            br
            br
            |              Lighting Design by Emily McCourt
            br
            br
            |              Production Stage Managed by Lauren Burke
            br
            br
